<mat-sidenav-container>
  <mat-sidenav [opened]="sidenavOpen" [mode]="sidenavOpen? 'side' : 'over'" class="mat-sidenav">
    <div class="list-group mt-3 shadow">
      <label class="list-group-item d-flex gap-3 active text-start">
        <span class="pt-1 form-checked-content">
          <strong >برند</strong>
        </span>
      </label>
      <ng-container *ngFor="let brand of brands">
        <label class="list-group-item d-flex gap-3">
          <input class="form-check-input flex-shrink-0" type= "checkbox" [value]="brand.id" />
          <span class="pt-1 form-checked-content">
            <strong>{{brand.title}}</strong>
          </span>
        </label>
      </ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-container class="mat-sidenav-content">
<div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 g-3">
  <app-card-shop *ngFor="let item of data?.result" [product]="item"></app-card-shop>
</div>
</mat-sidenav-container>
</mat-sidenav-container>

  